{{- $image := resources.Get .Destination -}}

{{- if $image -}}
{{- $post_image_webp := partial "image_converter.html" (dict "ImageSrc" .Destination "ImgOut" (printf "%dx%d webp q100" $image.Width $image.Height)) -}}
{{- $post_image_png := partial "image_converter.html" (dict "ImageSrc" .Destination "ImgOut" (printf "%dx%d png q100" $image.Width $image.Height)) -}}
<picture>
    <source srcset="{{ $post_image_webp }}" type="image/webp">
    <source srcset="{{ $post_image_png }}" type="image/png">
    <img loading="lazy" class="img_fluid" src="{{ $post_image_png }}" width="{{ $image.Width }}" height="{{ $image.Height  }}" {{ with .Text}} alt="{{ . }}" {{ else }} alt="{{ .Page.Title }}" {{ end }} {{ with .Title}} title="{{ . }}"{{ end }}>
</picture>
{{- else -}}
  <img loading="lazy" class="img_fluid" src="{{ .Destination | safeURL }}" {{ with .Text}} alt="{{ . }}" {{ else }} alt="{{ .Page.Title }}" {{ end }} {{ with .Title}} title="{{ . }}"{{ end }} />
{{- end -}}