{{ define "main" }}
<main class="main list" role="main">
    <h1>NeoForge Mod Generator</h1>

    <p>
        This is a tool to generate simple mod projects.
        It is still in its early stages, so please give us feedback,
        and report any issue you may encounter on
        <a href="https://github.com/neoforged/mod-generator">the dedicated GitHub repository</a>.
    </p>

    <div id="mod-generator-app"></div>
    <script type="module" src="https://neoforged.github.io/mod-generator/mod-generator.js"></script>
</main>
{{ end }}