{{ $author := index .Site.Data.authors (.Params.author | default "neoforgedteam") }}
{{- if $author -}}
<div class="authorbox clearfix">
	{{- with $author.avatar }}
	<figure class="authorbox__avatar">
		{{- $image := resources.Get ($author.avatar | relURL) -}}
		{{- if $image -}}
			{{- $post_image_webp := partial "image_converter.html" (dict "ImageSrc" ($author.avatar | relURL) "ImgOut" (printf "%dx%d webp q100" $image.Width $image.Height)) -}}
			{{- $post_image_png := partial "image_converter.html" (dict "ImageSrc" ($author.avatar | relURL) "ImgOut" (printf "%dx%d png q100" $image.Width $image.Height)) -}}
			<picture>
				<source srcset="{{ $post_image_webp }}" type="image/webp">
				<source srcset="{{ $post_image_png }}" type="image/png">
				<img loading="lazy" class="img_fluid logo__img" src="{{ $post_image_png }}" alt="{{ $author.name }} avatar" class="avatar" height="90" width="90">
			</picture>
		{{- else -}}
			<img alt="{{ $author.name }} avatar" src="{{ $author.avatar | relURL }}" class="avatar" height="90" width="90">
		{{- end -}}
	</figure>
	{{- end }}
	{{- with $author.name }}
	<div class="authorbox__header">
		<span class="authorbox__name">{{ T "authorbox_name" (dict "Name" .) }}</span>
	</div>
	{{- end }}
	{{- with $author.bio }}
	<div class="authorbox__description">
		{{ . | markdownify }}
	</div>
	{{- end }}
	{{- with $author.social }}
	<div class="widget-social widget authorbox__socials">
		<div class="widget-social__content widget__content authorbox__socials">
			{{- range $key, $val := . }}
			<div class="widget-social__item widget__item authorbox__{{ $key }}">
				<a class="widget-social__link widget__link btn" title="{{ humanize $key }}" rel="noopener noreferrer" href="{{ $val }}">
					{{ $partialpath := printf "svg/%s.svg" $key }}
					{{ partial $partialpath (dict "class" "widget-social__link-icon") }}
					<span>{{ humanize $key }}</span>
				</a>
			</div>
			{{- end }}
		</div>
		{{- end }}
	</div>
</div>
{{- end }}
