@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Wix+Madefor+Display:wght@600&display=swap');

{{- $fontSans := `"Noto Sans", "Open Sans", Helvetica, Arial, sans-serif` -}}
{{- $fontTitle := `"Lexend", "Open Sans", Helvetica, Arial, sans-serif` -}}
{{- $fontHero := `"Wix Madefor Display", "Open Sans", Helvetica, Arial, sans-serif` -}}
{{- $fontMono := `SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace` -}}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html, body, .container--outer {
	height: 100%;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

:focus::-webkit-input-placeholder {
	color: transparent;
}

:focus::-moz-placeholder {
	color: transparent;
}

:focus:-moz-placeholder {
	color: transparent;
}

:focus:-ms-input-placeholder {
	color: transparent;
}

/* Structure */
html {
	font-size: 100%;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
}

body {
	margin: 0;
	font-family: {{ $fontSans }};
	font-size: 14px;
	font-size: .875rem;
	line-height: 1.6;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
}

.container {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.container--outer {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 80%;
	max-width: 1920px;
	min-width: 1380px;
}

.wrapper {
	padding: 25px;
	flex-grow: 1;
}

.flex {
	display: -webkit-flex;
	display: flex;
}

.primary {
	-webkit-flex: 1 0 65.83%;
	flex: 1 0 65.83%;
	-webkit-order: 1;
	order: 1;
	min-width: 0;
}

.sidebar {
	-webkit-flex: 1 0 15%;
	flex: 1 0 15%;
	-webkit-order: 2;
	order: 2;
	min-width: 0;
	margin: 0 0 0 2.5%;
}

.sidebar--left {
	-webkit-order: 0;
	order: 0;
	margin: 0 2.5% 0 0;
}

.clearfix {
	display: block;
}

.clearfix::after {
	display: block;
	height: 0;
	padding: 0;
	margin: 0;
	clear: both;
	line-height: 0;
	visibility: hidden;
	content: "";
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

/* Button */
.btn {
	padding: 5px 10px;
	font-weight: 700;
	white-space: pre-line;
}

/* Animation */
.menu__item,
.btn {
	transition: background-color .25s ease-out;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px;
	margin: 0 0 1.25rem;
	font-weight: 600;
	line-height: 1.3;
	font-family: {{ $fontHero }};
}

h1 {
	font-size: 32px;
	font-size: 2rem;
}

h2 {
	font-size: 24px;
	font-size: 1.5rem;
}

h3 {
	font-size: 20px;
	font-size: 1.25rem;
}

h4 {
	font-size: 18px;
	font-size: 1.125rem;
}

h5 {
	font-size: 16px;
	font-size: 1rem;
}

h6 {
	font-size: 16px;
	font-size: 1rem;
}

a {
	text-decoration: none;
}

hr {
	margin: 0 0 20px;
}

p {
	margin: 0 0 20px;
	margin: 0 0 1.25rem;
}

b,
strong {
	font: inherit;
	font-weight: 700;
}

i,
em {
	font: inherit;
	font-style: italic;
}

ol,
ul {
	padding: 0;
	margin: 0;
}

small {
	font-size: 12px;
	font-size: .75rem;
}

figure {
	margin: 0 0 20px;
	margin: 0 0 1.25rem;
}

figcaption {
	margin-top: 4px;
	margin-top: .25rem;
}

figcaption h4 {
	margin: 0;
	color: inherit;
}

pre,
code,
kbd,
samp {
	font-family: {{ $fontMono }};
	font-size: inherit;
}

code {
	padding: 0 5px;
}

pre {
	display: block;
	padding: 0;
	padding: 1.25rem;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	overflow: auto;
}

pre code {
	padding: 0;
	color: inherit;
	white-space: inherit;
	background: inherit;
}

kbd {
	padding: 2px 3px;
}

blockquote {
	display: block;
	padding: 5px 0 5px 15px;
	margin: 0 0 20px;
	margin: 0 0 1.25rem;
	line-height: 1.6;
}

blockquote p:last-child {
	margin: 0;
}

blockquote footer {
	text-align: right;
}

sup,
sub {
	font-size: 10px;
	font-size: .625rem;
	font-style: normal;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

abbr[title] {
	text-decoration: none;
	cursor: help;
}

q {
	font-style: italic;
}

address {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	font-family: "Consolas", Courier New, Courier, monospace;
	line-height: 1.5;
}

dl {
	margin: 0 0 10px 20px;
}

dt,
dd {
	display: list-item;
}

dt {
	font-weight: bold;
	list-style-type: square;
}

dd {
	margin-left: 20px;
	list-style-type: circle;
}

select {
	max-width: 100%;
}

.warning {
	padding: 20px 10px;
	text-align: center;
}

.warning__icon {
	margin-bottom: 20px;
}

/* Header */
.logo {
	padding: 25px;
	text-align: center;
	margin: auto;
}

.logo__link {
	display: inline-block;
	margin: auto;
}

.logo__item {
	display: inline-block;
	vertical-align: middle;
	margin: auto;
}

.logo__img {
	image-rendering: pixelated;
}

.logo__img_inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

.logo__img_padding {
	position: relative;
	overflow: hidden;
	height: 0px;
}

.logo__img_parent {
	max-width: 512px;
	width: 100%;
}

.logo__imagebox {
	position: relative;
	display: flex;
	vertical-align: middle;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.logo__text {
	text-transform: uppercase;
}

.logo--mixed .logo__item {
	margin: .5rem auto;
}

.logo--mixed .logo__img {
	max-height: 256px;
}

.logo--mixed .logo__text {
	padding: 0 1rem;
}

.logo__title {
	font-size: 32px;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1;
}

.logo__tagline {
	padding-top: 10px;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	font-family: {{ $fontTitle }};
}

.divider {
	height: 5px;
	margin: 0;
}

/* Main menu */
.no-js .menu__btn {
	display: none;
}

.menu__btn {
	display: block;
	width: 100%;
	padding: 0;
	font: inherit;
	outline: 0;
}

.menu__btn-title {
	position: relative;
	display: block;
	padding: 10px 15px;
	padding: .625rem .9375rem;
	font-weight: 700;
	text-align: right;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

button:not(:-moz-focusring):focus > .menu__btn-title {
	box-shadow: none;
}

.menu__btn:focus,
.menu__btn-title:focus {
	outline: 0;
}

.menu__list {
	list-style: none;
}

.menu__link {
	display: block;
	padding: 10px 15px;
	padding: .625rem .9375rem;
	font-weight: 700;
	text-transform: uppercase;
}

.js .menu__list {
	position: absolute;
	z-index: 1;
	width: 100%;
	visibility: hidden;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: top left;
	transform-origin: top left;
}

.js .menu__list--active {
	visibility: visible;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.menu__list--transition {
	transition: visibility .15s ease, transform .15s ease, -webkit-transform .15s ease;
}

@media screen and (min-width: 767px) {
	.menu__btn {
		display: none;
	}

	.menu__list,
	.js .menu__list {
		position: relative;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		visibility: visible;
		-webkit-transform: none;
		transform: none;
	}
}

/* Posts/Pages */
.post__header,
.main__header {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.main__title {
	font-size: 28px;
	font-size: 1.75rem;
}

.main__content {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.meta {
	font-size: 13px;
	font-size: .8125rem;
	vertical-align: baseline;
}

.meta__item {
	display: inline;
	margin-left: 15px;
}

.meta__item:first-child {
	margin-left: 0;
}

.meta__icon {
	margin-right: 5px;
	vertical-align: middle;
}

figure.meta__icon {
	display: inline;
}

.meta__text {
	vertical-align: middle;
}

.post__title {
	margin: 0;
}

.post__meta {
	padding: 5px 0;
	margin-top: 10px;
	margin-top: .625rem;
}

.post__lead {
	margin-top: 4px;
	margin-top: .25rem;
	margin-bottom: 0;
	font-size: 16px;
	font-size: 1rem;
	font-style: italic;
}

.post__thumbnail {
	max-width: 1030px;
	margin: 0 0 20px;
	margin-bottom: 0 0 1.25rem;
}

.post__thumbnail img {
	width: 100%;
}

.content a,
.warning a,
.authorbox__description a {
	font-weight: 700;
}

.content a:hover,
.warning a:hover,
.authorbox__description a:hover {
	text-decoration: underline;
}

.content .alignnone {
	display: block;
	margin: 20px 0;
	margin: 1.25rem 0;
}

.content .aligncenter {
	display: block;
	margin: 20px auto;
	margin: 1.25rem auto;
}

.content .alignleft {
	display: inline;
	float: left;
	margin: 5px 20px 20px 0;
	margin: .3125rem 1.25rem 1.25rem 0;
}

.content .alignright {
	display: inline;
	float: right;
	margin: 5px 0 20px 20px;
	margin: .3125rem 0 1.25rem 1.25rem;
}

.content ul {
	list-style: square;
}

.content ol {
	list-style: decimal;
}

.content ul,
.content ol {
	margin: 0 0 20px 40px;
}

.content ul ul,
.content ol ol,
.content ol ul,
.content ul ol {
	margin: 0 0 0 40px;
}

.content li {
	margin-bottom: 5px;
}

.post__footer {
	margin-top: 20px;
	margin-top: 1.25rem;
}

/* Post tags */
.tags {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	font-size: 12px;
	font-size: .75rem;
	line-height: 1;
}

.tags__list {
	list-style: none;
}

.tags__item {
	float: left;
	margin: 0 6px 6px 0;
	margin: 0 .375rem .375rem 0;
	text-transform: uppercase;
}

.tags__link,
.tags__link:hover {
	display: block;
	padding: 10px 15px;
}

.tags__badge {
	float: left;
	width: 32px;
	height: 32px;
	padding: 8px;
	margin-right: 6px;
}

/* Table of Contents */
.toc {
	margin-bottom: 20px;
	font-weight: 700;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0;
	border-left-width: 1px;
}

.toc__title {
	padding: 5px 10px;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.toc__menu ul {
	margin: 0;
	list-style: none;
}

.toc__menu li li a {
	padding-left: 25px;
}

.toc__menu li li li a {
	padding-left: 45px;
}

.toc__menu li li li li a {
	padding-left: 65px;
}

.toc__menu li li li li li a {
	padding-left: 85px;
}

.toc__menu li li li li li li a {
	padding-left: 105px;
}

.toc__menu li {
	margin: 0;
}

.toc__menu a {
	display: block;
	padding: 5px 10px;
}

.toc__menu a:hover {
	text-decoration: underline;
}

/* Author Box */
.authorbox {
	padding: 25px 0;
	margin-bottom: 25px;
	line-height: 1.5;
}

.authorbox__avatar {
	float: left;
	padding: 3px;
	margin: 0 25px 0 0;
}

.authorbox__header {
	margin-bottom: 10px;
}

.authorbox__name {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 700;
}

.authorbox__socials {
	margin-top: 10px;
	text-align: center;
}

.authorbox__socials > .widget-social__item {
	display: inline-block;
	margin: 0 2px;
}

/* List content */
.list__item {
	padding-bottom: 20px;
	padding-bottom: 1.25rem;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.list__header {
	margin-bottom: 10px;
	margin-bottom: .625rem;
}

.list__title {
	font-size: 20px;
	font-size: 1.25rem;
}

.list__meta {
	margin-top: 5px;
}

.list__thumbnail {
	float: left;
	margin: 0 20px 0 0;
}

.list__thumbnail img {
	width: 100%;
	max-width: 235px;
}

.list__footer-readmore {
	float: right;
	margin-top: 10px;
}

/* Pagination */
.pagination {
	margin-top: 20px;
}

.pagination__item {
	display: inline-block;
	padding: 10px 15px;
	font-weight: 700;
}

/* Pager (prev/next links) navigation */
.pager {
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 25px;
}

.pager__subtitle {
	display: block;
	margin-bottom: 5px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
}

.pager__title {
	margin-bottom: 0;
	overflow: hidden;
	font-size: 13px;
	font-size: .8125rem;
}

.pager__item {
	-webkit-flex: 1 1 50%;
	flex: 1 1 50%;
	max-width: 48%;
}

.pager__item--next {
	margin-left: auto;
	text-align: right;
}

.pager__link {
	display: block;
}

/* Images / Video */
img {
	width: auto\9; /* ie8 */
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

iframe,
embed,
object,
video {
	max-width: 100%;
}

/* Table */
table {
	width: 100%;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	border-spacing: 0;
	border-collapse: collapse;
}

td,
th {
	padding: 5px 10px;
}

th {
	font-weight: 700;
}

/* Forms */
input {
	padding: 5px;
	font-size: 12px;
	vertical-align: middle;
	transition: all .25s ease-in-out;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=url] {
	width: 60%;
}

input[type=submit],
input[type=reset] {
	display: inline-block;
	min-width: 150px;
	padding: 10px 15px;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	transition: all .1s linear;
	-webkit-appearance: none;
}

textarea {
	width: 96%;
	padding: 5px;
	overflow: auto;
	line-height: 1.5;
	resize: vertical;
}

/* Widgets */
.widget {
	margin-bottom: 25px;
	overflow: hidden;
}

.widget:last-child {
	margin-bottom: 0;
}

.widget__title {
	position: relative;
	padding-bottom: 5px;
	font-size: 16px;
	font-size: 1rem;
	text-transform: uppercase;
}

.widget__item {
	display: block;
	padding: 5px 0;
}

.widget__item:first-child {
	padding-top: 0;
}

.widget__counter--bubble {
	display: inline-block;
	padding: 0 6px;
	font-size: .75rem;
	text-align: center;
	border-radius: 2em;
}

/* Search widget */
.widget-search__form {
	display: block;
	padding: 5%;
	margin: 0 auto;
}

.widget-search__form .widget-search__submit {
	display: none;
}

.widget-search__field {
	position: relative;
	display: block;
	width: 90%;
	padding: 8px;
	margin: 0 auto;
	font-size: 11px;
	cursor: pointer;
	border-radius: 0;
	outline-offset: -2px;
	transition: none;
	-webkit-appearance: none;
}

.widget-search__field:active,
.widget-search__field:focus {
	cursor: text;
}

/* Social widget */
.widget-social__item {
	padding: 0;
}

.widget-social__link {
	display: block;
	margin: 0 0 8px;
	white-space: normal;
}

.widget-social__link-icon {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

/* Tags Widget */
.widget-taglist__link {
	display: inline-block;
	margin: 0 4px 8px 0;
	font-size: 12px;
	text-transform: uppercase;
}

/* Languages Widget */
.widget-languages__link {
	display: block;
}

.widget-languages__link-btn {
	display: inline-block;
}

/* Installer */
.fileinfo {
	padding: 0;
	text-decoration: none;
	text-align: center;
	font-size: 1.5rem;
	line-height: 1.4;
	border-color: var(--color-border);
}

.fileinfo__header {
	color: var(--color-download-header);
	background-color: var(--color-download);
	padding: 10px;
	line-height: 1.2rem;
}

.fileinfo__body {
	background-color: var(--color-box);
	position: relative;
	border-top: 1px solid var(--color-border);
	margin: 0;
	display: grid;
	grid-gap: 1px;
	grid-auto-flow: column;
	grid-template-rows: 1fr 1fr;
	grid-auto-columns: 1fr;
}

.link-boosted {
	grid-column-end: span 2;
	grid-row-end: span 2;
}

.link:hover {
	background-color: var(--color-download-highlight);
}

/* News */
.news {
	margin-top: 1rem;
}

.newsbanner {
	font-size: 1.75rem;
	margin-top: 1rem;
}

/* Footer */
.footer {
	font-size: 12px;
	font-size: .75rem;
}

.footer__container {
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	align-items: center;
}

.footer__inner {
	padding: 10px 25px;
}

.footer__links {
	-webkit-order: 1;
	order: 1;
}

.footer a:hover {
	text-decoration: underline;
}

.footer_modetoggle {
	font-size: 20px;
	margin: 0 10px;
	padding: 0;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.footer_modetoggle-button {
	border-radius: 50%;
	border-collapse: separate; 
	height: 28px;
	width: 28px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

@media screen and (max-width: 1420px) {
	.container--outer {
		width: 100%;
		min-width: 0px;
	}
}

@media screen and (max-width: 900px) {
	.container--outer {
		width: 100%;
		margin: 0 auto;
	}

	.wrapper,
	.logo {
		padding: 20px;
	}

	.widget {
		margin-bottom: 20px;
	}

	.footer__container {
		display: block;
	}

	.footer__links {
		padding-bottom: 8px;
		padding-bottom: 0.5rem;
		text-align: center;
	}

	.footer__copyright {
		text-align: center;
	}

	.footer_modetoggle {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.wrapper {
		display: block;
	}

	.sidebar {
		float: none;
		width: 100%;
		margin: 0;
	}

	.logo {
		text-align: center;
	}

	.logo__link {
		margin: 0 auto;
	}

	.logo__title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	.sidebar {
		margin-top: 20px;
	}
}

@media screen and (max-width: 620px) {
	input[type=text],
	input[type=email],
	input[type=tel],
	input[type=url] {
		width: 88%;
	}

	.meta__item {
		display: block;
		margin-left: 0;
	}

	.authorbox {
		text-align: center;
	}

	.authorbox__avatar {
		display: inline-block;
		float: none;
		margin: 0 0 20px;
	}

	.pager {
		display: block;
	}

	.pager__item {
		min-width: 100%;
		text-align: center;
	}

	.pager__item--prev {
		padding-bottom: 25px;
	}

	.content ul,
	.content ol {
		margin: 0 0 20px 20px;
	}

	.content ul ul,
	.content ol ol,
	.content ol ul,
	.content ul ol {
		margin: 0 0 0 20px;
	}

	.list__thumbnail {
		max-width: 80px;
	}

	.list__title {
		font-size: 16px;
		font-size: 1rem;
	}

	.list__lead {
		font-size: 14px;
		font-size: .875rem;
	}

	.list__meta {
		display: block;
		font-size: 11px;
		font-size: .6875rem;
	}
}

[data-theme="light"] {
	--color-highlight: #d7742f;
	--color-background: #d5e0df;
	--color-download: #e68c37;
	--color-download-header: #ffffff;
	--color-download-highlight: #e7f1f0;
	--color-box: #bdc7c7;
	--color-outer: #bdc7c7;
	--color-border: #aab0b3;
	--color-btn: #2a2a2a;
	--color-text: #000;
	--color-code: #c33;
	--color-footer-text: #aab0b3;
	--color-footer-link-text: #bdc7c7;
	--color-ends-background: #323232;
	--color-meta-caption: #666666;
	.footer_modetoggle-dark {
		display: none;
	}
  }
  
[data-theme="dark"] {
	--color-highlight: #d7742f;
	--color-background: #323232;
	--color-download: #d7742f;
	--color-download-header: #ffffff;
	--color-download-highlight: #bdc5c5;
	--color-box: #222222;
	--color-outer: #111111;
	--color-border: #5a5a5a;
	--color-btn: #e7d9d3;
	--color-text: #e7d9d3;
	--color-code: #e57;
	--color-footer-text: #aab0b3;
	--color-footer-link-text: #bdc7c7;
	--color-ends-background: #222222;
	--color-meta-caption: #aab0b3;
	.footer_modetoggle-light {
		display: none;
	}
}

{{ partial "colors.css" . }}
