{{ $js:= resources.Get "js/neoforge.js" }}
<script src="{{ $js.RelPermalink }}"></script>
<div id="filelist" class="fileinfo">
    <div class="fileinfo__header">NeoForge (loading version...)</div>
    <div class="fileinfo__body">
        <a><span>Latest <em>NeoForge</em> Installer</span><span class="fileinfo__placeholder">neoforge-0.00.00-00.00.00-installer.jar</span></a>
        <a><span>Latest Changelog</span><span class="fileinfo__placeholder">0.00.00-00.00.00</span></a>
    </div>
</div>
<script>
document.addEventListener("readystatechange", evt=>{
    if (evt.target.readyState === "complete") {
        loadLatestVersions([{{ .Get 0 }}]);
    }
});
</script>
