<script src="{{ "js/neoforge.js" | relURL }}"></script>

    <div id="filelist" class="fileinfo">
        <div class="fileinfo__body">
            <div class="selection_row">
                <div class="selection_block">
                    <label for="minecraftversions">Minecraft Version:&nbsp;</label>
                    <select name="Minecraft Versions" id="minecraftversions">
                        <option value="">Loading...</option>
                    </select>
                </div>
                <div class="selection_block">
                    <label for="neoforgeversions">NeoForge Version:&nbsp;</label>
                    <select name="Neoforge Versions" id="neoforgeversions">
                        <option value="">Loading...</option>
                    </select>
                </div>
            </div>
            <div class="download_row">
                <a id="installerlink"><span>Click Here to Download:&nbsp;<br><span class="normal__font__weight">neoforge-0.00.00-00.00.00-installer.jar</span></span></a>
                <a id="changeloglink"><span>See changelog</span></a>
            </div>
        </div>
    </div>

<script>
    document.addEventListener("readystatechange", evt=>{
        if (evt.target.readyState === "complete") {
            loadVersions();
        }
    });
</script>
